{% include 'loggedOperatorBase.html' %} {% block body %}

<div class="container">
  <div class="row">
    <div class="container my-5 py-5 z-depth-1">
      <!--Section: Content-->
      <div class="row mb-4 ml-5">
            
                <div class="col-12"> 
                <span class="badge badge-secondary"><h6 class="pt-1 pb-0 pl-3 pr-3">Volvo Master</h6></span>
                <span class="badge badge-warning ml-2"><h6 class="pt-1 pb-0 pl-3 pr-3">Volvo Master</h6></span>
                <span class="badge badge-warning ml-2"><h6 class="pt-1 pb-0 pl-3 pr-3">Volvo Master</h6></span>

                </div>
                <div class="col-3"> </div>


            
            </div>
      <section class="px-md-3 mx-md-3 dark-grey-text text-center">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-lg-8">
            <!--Grid row-->
            <div class="row">
              <!--First column-->
              <div class="col-md-3 col-6 mb-4">
                <img class="img-fluid " 
                height=60 
                width=60
                src="https://www.flaticon.com/svg/static/icons/svg/1042/1042266.svg"
                
                ></img>
                <div class="row"></div>

                <div class="mt-3">UP-65-AZ121</div>
              </div>
              <!--/First column-->

              <!--Second column-->
              <div class="col-md-3 col-6 mb-4">
                <img class="img-fluid "
                height=60 
                width=60  
                src="https://www.flaticon.com/svg/static/icons/svg/1178/1178847.svg"
                >
                <div class="mt-3">Guna</div>
                    
              </div>
              <!--/Second column-->

              <!--Third column-->
              <div class="col-md-3 col-6 mb-4">
                <img class="img-fluid "
                height=60 
                width=60  
                src="https://www.flaticon.com/svg/static/icons/svg/1042/1042263.svg"
                >
                <div class="mt-3">Reva</div>
                    
              </div>
              <!--/Third column-->

              <!--Third column-->
              <div class="col-md-3 col-6 mb-4">
                <img class="img-fluid "
                height=60 
                width=60  
                src="https://www.flaticon.com/svg/static/icons/svg/3558/3558207.svg"
                >
                <div class="mt-3">12 : 00 P.M.</div>
                    
              </div>
              <!--/Third column-->
            </div>
            <!--/Grid row-->
            
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!--Section: Content-->
    </div>
  </div>
</div>

{% endblock body%}
