{% include 'loggedOperatorBase.html' %}<br />
{% include 'addbusform.html' %} <br />
{% block body %} {% block addbus %} {% endblock addbus %}}

<div class="container w-100 mx-auto">

      <div class="row ml-1 mr-1"></div>
      <div class="container my-2 z-depth-1">
        <!--Section: Content-->
        <section class="dark-grey-text">
          <div class="row pr-lg-5">
            <div class="col-md-7 mb-4">
              <div class="view">
                <img
                  src="https://cdn.dribbble.com/users/3593902/screenshots/6886578/bus-animation-1.gif"
                  class="img-fluid ml-3"
                  alt="smaple image"
                />
              </div>
            </div>
            <div class="col-md-5 d-flex align-items-center">
              <div>
                <h3 class="font-weight-bold mb-4">Start bus service hastle free</h3>

                <p>
                  Hi {{operator.name}} ! welcome to your operator's dashboard . Now you can manage your bus services easily with bussified operator support system . Add your busses and leave it to us to get it booked
                </p>

                <a type="button" class="btn btn-orange btn-rounded mx-0" data-toggle="modal" data-target="#exampleModalCenter">
                  Add Bus
                </a>
              </div>
            </div>
          </div>
        </section>
        <!--Section: Content-->


        
      </div>
        <div class="container my-5 py-5 z-depth-1">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 dark-grey-text text-center">

      <!--Grid row-->
      <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-lg-8">

          <!--Grid row-->
          <div class="row">

            <!--First column-->
            <div class="col-md-3 col-6 mb-4">
             
              <img src ="https://www.flaticon.com/svg/static/icons/svg/751/751663.svg"
              class="img-fluid"
              height = 60
              width=60
              />
              <div>
                <h3 class="mt-3">{{stats.bookedToday}}</h3>
                <h6 class="mt-1">Bookings</h6>

              </div>
            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-md-3 col-6 mb-4">
              <img src ="https://www.flaticon.com/svg/static/icons/svg/3021/3021961.svg"
              class="img-fluid"
              height = 60
              width=60
              />
              <div>
                <h3 class="mt-3">{{stats.runsToday}}</h3>
                <h6 class="mt-1">Runs Today</h6>

              </div>
            </div>
            <!--/Second column-->

            <!--Third column-->
            <div class="col-md-3 col-6 mb-4">
               <img src ="https://www.flaticon.com/svg/static/icons/svg/3050/3050234.svg"
              class="img-fluid"
              height = 60
              width=60
              />
              <div>
                <h3 class="mt-3">₹{{stats.walletFilled}}</h3>
                <h6 class="mt-1">Wallet Filled</h6>

              </div>
            </div>
            <!--/Third column-->

            <!--Fourth column-->
            <div class="col-md-3 col-6 mb-4">
               <img src ="https://www.flaticon.com/svg/static/icons/svg/3708/3708647.svg"
              class="img-fluid"
              height = 60
              width=60
              />
              <div>
                <h3 class="mt-3">{{stats.activeBusses}}</h3>
                <h6 class="mt-1">Active Busses</h6>

              </div>
            </div>
            <!--/Fourth column-->

          </div>
          <!--/Grid row-->

          <p>
          Here is Today's stats . your stats are updated daily. For better analysis you can look at account section 
          </p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>
      {% endblock body %}
    </div>
  </div>
</div>
